body, html {
	height: 100%;
}

body {
	font-family: 'Inter', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-mos-osx-font-smoothing: grayscale;
	color: #262626;
	font-size: 14px;
	line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	min-width: 100%;
}

p { margin: 0; }

svg { display: block; }

button {
	border: 0;
	background: transparent;
	cursor: pointer;
	padding: 0;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
}

.g-container {
  max-width: 1200px;
  margin: 0 auto;
}

.headline .logo {
	margin-right: auto;
}

@media screen and (max-width: 767px) {
  .g-container {
    width: 100%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .g-container {
    width: 90%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .g-container {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .g-container {
    width: 1200px;
  }
}