.c-topline {
	background: #fafafa;
	border-bottom: 1px solid #c6c6c8;
	padding: 42px 0 32px;
	margin-bottom: 32px;

	&.transparent {
		background: none;
		border: none;
	}
}

.content {
	width: 100%;
	margin-top: 37px;
}

.headline {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	white-space: nowrap;
	margin-right: auto;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 145px;
	width: 145px;
}

.icons * {
	cursor: pointer;
}

.avatar {
	width: 37px;
	height: 37px;
	border-radius: 50%;
	background-color: #7f7f7f;
	background-size: cover;
}
